@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 100%;
    max-width: 100vw;
    font-family: "Montserrat", sans-serif;
}

.images_plein {
    margin: 0rem;
    margin-top: 0.8vw;
    width: 100vw;
    position: relative;
    top: 0rem;
    z-index: 1;
}

.menu {
    position: relative;
    font-size: 1.5rem;
    display: block;
    margin: 1.2rem;
    color: white;
    float: right;
    text-decoration: none;
    z-index: 2;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0.7vw;
}

h1 {
    position: relative;
    margin-top: 5vw;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    z-index: 3;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
button {
    background:
        linear-gradient(to right,
            #234567,
            #234567),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover,
button:hover {
    background-size: 0 3px, 100% 3px;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 6vw;
    margin-right: 6vw;
    grid-gap: 6vw;
    font-size: 14pt;

}

.box img {
    width: 25vw;
}

.box h1,
p {
    max-width: 45vw;

}

#trois_images {
    margin-top: 5vw;
    margin-bottom: 15vw;
    margin-left: 6.5vw;
    grid-template-columns: 3;
    grid-gap: 6vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    max-width: 21vw;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
}

#trois_images img {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

p {
    color: white;
}

#footermenu {
    max-width: 48vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

#footer {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1rem;
    grid-gap: 8vw;
    align-items: center;
    max-width: 70vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

button {
    margin-top: 5vw;
    background-color: black;
    color: white;
    border-radius: 2rem;
    height: 3.5rem;
    width: 20rem;
    font-size: 1.5rem;
    border-style: solid;
    border-color: #234567;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    border-color:
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));

}

#bouton {
    display: flex;
}