body {
    margin: 0;
    padding: 0;
}

.images_plein {
    margin: 0;
    width: 100%;
}

.menu {
    display: block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    color: black;
    float: right;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: black;
}